#pi-carbon-chat(data-state="connected")
    md-text-button#carbon-status
        md-icon(slot="icon") check_circle
        | Connected
    md-icon-button#carbon-call(disabled)
        md-icon call
        md-icon(slot="selected") call_end
    #carbon-conversation
    textarea#carbon-message(name="message")
    md-filled-icon-button#carbon-send
        md-icon send
md-dialog
    div(slot="headline")
        span Add Carbon to AXIS
        md-icon-button(form="carbon-connect", value="close", aria-label="close dialog"): md-icon close
    form#carbon-connect(method="dialog", slot="content")
        md-linear-progress(value="0.5")
        section.login-card
            .logo: img(src="chrome-extension://abhobcfmnkbckafjccjcanohonmceagc/assets/axis_logo.webp", alt="axis logo")
            input(type="email", name="axis-username" autofocus, autocomplete="email")
            input(type="password", name="axis-password", autocomplete="current-password")
        section.login-card
            .logo: img(src="chrome-extension://abhobcfmnkbckafjccjcanohonmceagc/assets/axis_logo.webp", alt="carbon logo")
            input(type="email", name="carbon-username", autocomplete="off")
            input(type="password", name="carbon-password", autocomplete="off")
    div(slot="actions")
        md-filled-tonal-button#carbon-connect-carbon-submit Connect Carbon
            
