form#pi-print-generate
    .selector
        select(name="print", aria-label="print")
            option(value="review") Wellness Review
            option(value="superbill") Superbill
            option(value="excuse") Work/School Excuse
        md-filled-icon-button(aria-label="print resource"): md-icon print
    .option-review(data-state="active")
        details.description 
            summary What is this?
            p A wellness review is a standardized patient-completed form that quantifies treatment progress and clinic experience. It is designed to help ensure seamless care across providers and clinics.
    .option-superbill
        details.description
            summary What is this?
            p A superbill is an itemized receipt documenting services, diagnosis codes, and procedure codes. Patients can submit this document directly to insurance or HSA providers.
        .modifiers
            label(for="superbill-range-start-date") Start Date
            input#superbill-range-start-date(type="date", name="superbill-start-date")
            label(for="superbill-range-end-date") End Date
            input#superbill-range-end-date(type="date", name="superbill-end-date")
            label#superbill-shortcut-label Shortcuts
            md-chip-set(aria-labelledby="superbill-shortcut-label")
                md-suggestion-chip(label="Year to Date")
                md-suggestion-chip(label="From Last Exam")
                md-suggestion-chip(label="All Visits")
                md-suggestion-chip(label="Last Quarter")
    .option-excuse
        details.description 
            summary What is this?
            p An excuse slip validates the patient's absence from work or school. It may include activity modifications, which can be edited during preview.
        .modifiers
            fieldset.md-radio-list
                legend Date of Service
                md-radio#excuse-today(name="excuse-date", value="today")
                label(for="excuse-today") Today's visit
            fieldset.md-check-list
                legend Recommendation
                label(for="limit-lifting")
                    md-check-box#limit-lifting(name="excuse-recommendation", value="lifting")
                    | Limit lifting greater than 15 pounds.
                label(for="limit-standing")
                    md-check-box#limit-standing(name="excuse-recommendation", value="standing")
                    | Limit standing longer than 60 minutes.
                label(for="limit-sitting")
                    md-radio#excuse-today(name="excuse-recommendation", value="sitting")
                    | Limit sitting longer than 60 minutes.
    md-outlined-button.print-blank
        md-icon(slot="icon") add
        | Start a Blank Document
md-dialog
    md-icon(slot="icon") edit_square
    span(slot="headline")
        md-icon-button(form="print-document-editor", value="close", aria-label="close dialog"): md-icon close
    form#print-document-editor(method="dialog", slot="content")
        .print-preview
    span(slot="actions")
        md-icon-button(title="save to AXIS", aria-label="save to AXIS", toggle)
            md-icon cloud_upload
            md-icon(slot="selected") cloud_done
        md-filled-tonal-button(form="praktiki-print-document-editor", value="close", autofocus) Print