.headline Praktiki for AXIS
md-icon-button#prakitki-sheet-close-button(aria-label="close side sheet")
    md-icon close
nav#praktiki-primary-navigation
    md-icon-button(label="help"): md-icon help
    md-icon-button(label="settings"): md-icon settings
block main
block aside