// material (must be listed first)
@use "_theme.scss";
@use "_typeface.scss" as type;
@use "_motion.scss";

// material modifications

md-outlined-select {
  margin-top: 0.25rem;
}

// material badge implementation

.allow-badge {
  position: relative;
  &::after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--md-sys-color-error);
    color: var(--md-sys-color-on-error);
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;
    min-width: 16px;
    max-width: 34px;
    height: 16px;
  }
  &[data-badge=""]::after,
  &:not(:has([data-badge]))::after {
    display: none;
  }
}

// material radio list implementation

.md-check-list {
  display: grid;
  align-items: center;

  md-radio,
  md-checkbox {
    align-self: center;
    justify-self: center;
  }

  label {
    width: 100%;
    height: 2lh;
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    gap: 4px;
  }

  &.trailing-check-box {
    width: 100%;
    grid-template-columns: 1fr auto;

    md-radio,
    md-checkbox {
      grid-column: 2 / 3;
      margin-left: 8px;
    }
    label {
      grid-column: 1 / 2;
    }
  }
  &:not(.trailing-check-box) {
    width: auto;
    grid-template-columns: auto 1fr;

    md-radio,
    md-checkbox {
      grid-column: 1 / 2;
      margin-right: 8px;
    }
    label {
      grid-column: 2 / 3;
    }
  }
}

// material snack bar implementation

.md-snack-bar {
  padding: 8px;
  .headline {
    flex: 1;
    order: 1;
    @include type.set-type("label-small");
  }
  md-text-button {
    order: 2;
  }
  md-icon-button {
    order: 3;
  }
}

// approximation of md textfield
// (because md-select change event is wonky)

.textfield {
  display: inline-block;
  position: relative;
  border: 1px solid var(--md-sys-color-on-background);
  &[data-supporting-text] {
    &::after {
      content: attr(data-supporting-text);
      display: block;
      position: absolute;
      top: 100%;
      left: 8px;
    }
  }
  &:focus {
    outline: 2px solid var(--md-sys-color-primary);
  }
}

// praktiki ui variables

body {
  // avoid header overlap in front office
  &:has(#sugarcrm) {
    --pi-sheet-top: 40px;
  }
  // avoid header overlap in back office
  &:has(#app) {
    --pi-sheet-top: 76px;
  }

  // adjust sheet width based on open state
  &:has(#praktiki-sheet.side-sheet[data-state="open"]) {
    --pi-sheet-width: 360px;
  }
  &:has(#praktiki-sheet.side-sheet[data-state="closed"]) {
    --pi-sheet-width: 56px;
  }
  &:has(#praktiki-sheet.bottom-sheet[data-state="open"]) {
    --pi-sheet-height: 80svh;
    --pi-sheet-width: clamp(440px, 100svw, 880px);
  }
  &:has(#praktiki-sheet.bottom-sheet[data-state="closed"]) {
    --pi-sheet-height: 56px;
    --pi-sheet-width: clamp(440px, 100svw, 880px);
  }
}

// utility classes

.display-none {
  display: none !important;
}
.hidden {
  visibility: hidden !important;
}

// utility functions

@function zIndex($i) {
  // exceed top axis z-index
  @return 2000 + $i;
}

// front-office modifications

body:has(#praktiki-sheet) #content {
  right: var(--pi-sheet-width) !important;
  // adjust header size independently
  .headerpane {
    width: calc(100vw - 3.75rem - var(--pi-sheet-width));
  }
  // adjust fab position independently
  div:has(> .dfab-icon) {
    right: var(--pi-sheet-width);
  }
}

// override sugarcrm input appearance
#praktiki-sheet input {
  height: 1.5lh;
  @extend .textfield;
  &[type="number"] {
    width: 48px;
  }
}

// back office modifications

body:has(#praktiki-sheet) #app main {
  &:has(#patientName) {
    margin-bottom: var(--pi-sheet-height) !important;
  }
  &:not(:has(#patientName)) {
    margin-right: var(--pi-sheet-width) !important;
  }
  .table-scrollable {
    container-type: inline-size;
    @container (max-width: 800px) and (min-width: 400px) {
      th,
      td {
        &:nth-of-type(n + 2):not(:nth-of-type(3)):not(:nth-of-type(6)):not(
            :last-child
          ) {
          display: none;
        }
      }
    }
    @container (max-width: 399px) {
      th,
      td {
        &:nth-of-type(n + 2):not(:last-child) {
          display: none;
        }
      }
    }
  }
}

// * axis button types
// must start with .btn and can be modified with:
// &-primary (blue)
// &-secondary (grey)
// &-success (green)
// &-info (light blue)
// &-warning (yellow)
// &-danger (red)
// &-light
// &-dark

[id^="praktiki"],
[id^="praktiki"] * {
  box-sizing: border-box;
}

// praktiki sheet

#praktiki-sheet {
  &.side-sheet[data-state="open"] {
    position: fixed;
    box-sizing: border-box;
    inset: var(--pi-sheet-top) 0 0 auto;
    width: var(--pi-sheet-width);
    padding: 16px 0 16px 16px;
    border-left: 1px solid var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 56px;
    grid-template-rows: auto 1fr;
    .sheet-headline {
      grid-row: 1 / 2;
      align-self: center;
      justify-self: left;
    }
    .sheet-close {
      grid-row: 1 / 2;
      justify-self: center;
      aspect-ratio: 1 / 1;
    }
    #pi-primary-navigation {
      grid-row: 2 / 3;
      grid-column: 2 / 3;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      md-divider {
        margin-top: auto;
      }
      md-icon-button[data-selected="true"] {
        position: relative;
        md-icon {
          color: var(--md-sys-color-primary) !important;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          inset: 50% auto auto 0;
          translate: 0 -50%;
          width: 4px;
          height: 12px;
          background-color: var(--md-sys-color-primary);
          border-radius: 2px;
        }
      }
    }
    [id$="tool"] {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      &:not([data-state="active"]) {
        display: none;
      }
    }
  }

  // closed
  &.side-sheet[data-state="closed"] {
    position: fixed;
    box-sizing: border-box;
    inset: var(--pi-sheet-top) 0 0 auto;
    width: var(--pi-sheet-width);
    padding: 16px 0 16px 0;
    border-left: 1px solid var(--md-sys-color-on-background);
    background-color: var(--md-sys-color-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    .sheet-headline {
      display: none;
    }
    .sheet-close {
      aspect-ratio: 1 / 1;
    }
    #pi-primary-navigation {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      md-divider {
        margin-top: auto;
      }
      md-icon-button[data-selected="true"] {
        position: relative;
        md-icon {
          color: var(--md-sys-color-primary) !important;
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          inset: 50% auto auto 0;
          translate: 0 -50%;
          width: 4px;
          height: 12px;
          background-color: var(--md-sys-color-primary);
          border-radius: 2px;
        }
      }
    }
    [id$="tool"] {
      display: none;
    }
  }
}

#pi-contact-tool {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  #contact-summary {
    position: relative;
    width: 100%;
    min-height: 128px;
    padding: 8px;
    border-radius: 8px;
    border: 1px dashed var(--md-sys-color-on-background);
    &:empty::after {
      content: "drag and drop to select patient";
      position: absolute;
      inset: 50% auto auto 50%;
      translate: -50% -50%;
      white-space: nowrap;
    }
  }
  [id$="panel"] {
    flex: 1;
  }
  #pi-print-generate {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    .selector {
      grid-row: 1 / 2;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 4px;
      gap: 8px;
      select {
        flex: 1;
        height: 100%;
        margin: 0 0 0 0 !important;
      }
    }
    [class^="option"] {
      display: none;
      &[data-state="active"] {
        display: block;
        grid-row: 2 / 3;
      }
      .description {
        margin: 4px 0 4px 0;
        @include type.set-type("label-small");
        text-wrap: pretty;
      }
    }

    .option-superbill .modifiers {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto auto auto 1fr;
      label {
        margin-top: 8px;
        @include type.set-type("label-small");
        &[for^="superbill"] {
          grid-row: 1 / 2;
        }
      }
      input {
        grid-row: 2 / 3;
        box-sizing: border-box;
        width: 100%;
        height: 2rem;
        margin-right: 4px;
      }
      md-chip-set {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
      }
    }
    .option-excuse .modifiers {
      display: flex;
      flex-direction: column;
      align-items: start;
      fieldset {
        legend {
          @include type.set-type("label-medium");
          // undo axis styles
          border: 0;
          margin: 0;
          line-height: 1lh;
          color: var(--md-sys-color-on-background);
        }
      }
    }
    .print-blank {
      grid-row: 3 / 4;
    }
  }
  #pi-carbon-chat {
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr auto;
    margin-top: 4px;
    gap: 4px;
    overflow: hidden;

    #carbon-status {
      justify-self: left;
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }
    #carbon-call {
      justify-self: center;
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }
    #carbon-conversation {
      height: 100%;

      grid-row: 2 / 3;
      grid-column: 1 / 3;
    }
    #carbon-message {
      width: 100%;
      min-height: 3lh;
      resize: none;
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
    #carbon-send {
      justify-self: center;
      grid-row: 3 / 4;
      grid-column: 2 / 3;
    }

    &[data-state="connected"] {
    }
  }
}
